<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.kiruma.springbootshiro.dao.UserDao">
    <select id="selectUserByUsername" resultType="com.example.kiruma.springbootshiro.bean.User" parameterType="string">
        SELECT * FROM `user` WHERE `name`=#{name}
    </select>

    <select id="getUserPermissionByUserName" resultType="string" parameterType="string">
        SELECT action.name FROM role,action,`user`,role_action WHERE `user`.role_id=role.id
          and role.id=role_action.role_id and action.id=role_action.action_id and `user`.`name`=#{username}
    </select>
</mapper>